In [37]:
import pandas as pd
from datetime import date, timedelta, datetime

In [39]:
all_raw_data = pd.read_csv("/Users/allenchen/projects/baseball-analytics/data/aggregated/20230504_agg_raw_data_small.csv")

In [40]:
all_raw_data.shape

(9034, 23)

In [43]:
all_raw_data.sort_values("game_date").tail()

,game_date,batter,pitcher,events,description,game_type,stand,p_throws,home_team,away_team,...,on_1b,outs_when_up,inning,inning_topbot,launch_speed,at_bat_number,pitch_number,game_pk,bat_score,fld_score
22,2023-05-03,575929,660271,d,hit_into_play,R,R,R,STL,LAA,...,0,0,4,Bot,97.4,32,1,718320,1,3
21,2023-05-03,676475,660271,so,swinging_strike,R,L,R,STL,LAA,...,0,0,4,Bot,NaN,33,4,718320,2,3
20,2023-05-03,666185,660271,hr,hit_into_play,R,L,R,STL,LAA,...,0,1,4,Bot,103.5,34,2,718320,2,3
18,2023-05-03,669242,660271,fo,hit_into_play,R,L,R,STL,LAA,...,0,2,4,Bot,74.4,36,3,718320,4,3
0,2023-05-03,669242,608032,fo,hit_into_play,R,L,R,STL,LAA,...,0,2,9,Bot,72.1,77,5,718320,4,6

In [42]:
all_raw_data[all_raw_data.on_3b.isnull()]

Empty DataFrame
Columns: [game_date, batter, pitcher, events, description, game_type, stand, p_throws, home_team, away_team, game_year, on_3b, on_2b, on_1b, outs_when_up, inning, inning_topbot, launch_speed, at_bat_number, pitch_number, game_pk, bat_score, fld_score]
Index: []

[0 rows x 23 columns]

In [30]:
date(2008, 2, 27) + timedelta(365)

datetime.date(2009, 2, 26)

In [38]:
datetime.combine(date.today(), datetime.min.time())

datetime.datetime(2023, 5, 12, 0, 0)

In [5]:
#all_raw_data = all_raw_data.astype({"batter": str, "pitcher": str, "on_3b": str, "on_2b": str, "on_1b": str, "game_pk": str})

In [7]:
all_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3158769 entries, 0 to 3158768
Data columns (total 23 columns):
 #   Column         Dtype
---  ------         -----
 0   game_date      object
 1   batter         object
 2   pitcher        object
 3   events         object
 4   description    object
 5   game_type      object
 6   stand          object
 7   p_throws       object
 8   home_team      object
 9   away_team      object
 10  game_year      int64
 11  on_3b          object
 12  on_2b          object
 13  on_1b          object
 14  outs_when_up   int64
 15  inning         int64
 16  inning_topbot  object
 17  launch_speed   float64
 18  at_bat_number  int64
 19  pitch_number   int64
 20  game_pk        object
 21  bat_score      int64
 22  fld_score      int64
dtypes: float64(1), int64(7), object(15)
memory usage: 554.3+ MB

In [1]:
from pyspark.sql.functions import pandas_udf, PandasUDFType, col
from pyspark.sql.types import *
from pyspark.sql import SparkSession

In [2]:
spark = (
    SparkSession
    .builder
    .master("local[12]")
    .appName("baseball-analytics")
    .getOrCreate()
)

23/05/18 12:28:54 WARN Utils: Your hostname, Allens-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.66 instead (on interface en0)
23/05/18 12:28:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/18 12:28:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
raw_data_schema = StructType(
    [
        StructField('game_date', StringType(), True), 
        StructField('batter', StringType(), True), 
        StructField('pitcher', StringType(), True), 
        StructField('events', StringType(), True), 
        StructField('description', StringType(), True), 
        StructField('game_type', StringType(), True), 
        StructField('stand', StringType(), True), 
        StructField('p_throws', StringType(), True), 
        StructField('home_team', StringType(), True), 
        StructField('away_team', StringType(), True), 
        StructField('game_year', ShortType(), True), 
        StructField('on_3b', StringType(), True), 
        StructField('on_2b', StringType(), True), 
        StructField('on_1b', StringType(), True), 
        StructField('outs_when_up', ByteType(), True), 
        StructField('inning', ByteType(), True), 
        StructField('inning_topbot', StringType(), True), 
        StructField('launch_speed', DoubleType(), True), 
        StructField('at_bat_number', ShortType(), True), 
        StructField('pitch_number', ShortType(), True), 
        StructField('game_pk', StringType(), True), 
        StructField('bat_score', ByteType(), True), 
        StructField('fld_score', ByteType(), True), 
    ]
) 

data = (
    spark
    .read
    .format("csv")
    .option("header", "true")
    .schema(raw_data_schema)
    .load("/Users/allenchen/projects/baseball-analytics/data/aggregated/20230504_agg_raw_data_small.csv")
)

In [10]:
data.show()

+----------+------+-------+------+---------------+---------+-----+--------+---------+---------+---------+------+-----+------+------------+------+-------------+------------+-------------+------------+-------+---------+---------+
| game_date|batter|pitcher|events|    description|game_type|stand|p_throws|home_team|away_team|game_year| on_3b|on_2b| on_1b|outs_when_up|inning|inning_topbot|launch_speed|at_bat_number|pitch_number|game_pk|bat_score|fld_score|
+----------+------+-------+------+---------------+---------+-----+--------+---------+---------+---------+------+-----+------+------------+------+-------------+------------+-------------+------------+-------+---------+---------+
|2023-05-03|669242| 608032|    fo|  hit_into_play|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           2|     9|          Bot|        72.1|           77|           5| 718320|        4|        6|
|2023-05-03|680977| 608032|    so|swinging_strike|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           1|     9|          Bot|        null|           76|           3| 718320|        4|        6|
|2023-05-03|666185| 608032|    so|       foul_tip|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           0|     9|          Bot|        null|           75|           4| 718320|        4|        6|
|2023-05-03|641933| 572193|    fo|  hit_into_play|        R|    R|       R|      STL|      LAA|     2023|571448|    0|575929|           2|     8|          Bot|        82.4|           68|           6| 718320|        4|        3|
|2023-05-03|575929| 572193|     s|  hit_into_play|        R|    R|       R|      STL|      LAA|     2023|     0|    0|571448|           2|     8|          Bot|       111.9|           67|           1| 718320|        4|        3|
|2023-05-03|571448| 572193|     s|  hit_into_play|        R|    R|       R|      STL|      LAA|     2023|     0|    0|     0|           2|     8|          Bot|        81.1|           66|           3| 718320|        4|        3|
|2023-05-03|669357| 572193|    so|swinging_strike|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           1|     8|          Bot|        null|           65|           4| 718320|        4|        3|
|2023-05-03|502671| 572193|    so|swinging_strike|        R|    R|       R|      STL|      LAA|     2023|     0|    0|     0|           0|     8|          Bot|        null|           64|           4| 718320|        4|        3|
|2023-05-03|663457| 681217|    fo|  hit_into_play|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           2|     7|          Bot|        86.0|           60|           5| 718320|        4|        3|
|2023-05-03|669242| 681217|    fo|  hit_into_play|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           1|     7|          Bot|        97.7|           59|           5| 718320|        4|        3|
|2023-05-03|680977| 681217|    fo|  hit_into_play|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           0|     7|          Bot|        95.2|           58|           2| 718320|        4|        3|
|2023-05-03|666185| 681217|    fo|  hit_into_play|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           2|     6|          Bot|       102.5|           52|           2| 718320|        4|        3|
|2023-05-03|676475| 681217|    fo|  hit_into_play|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           1|     6|          Bot|        70.1|           51|           1| 718320|        4|        3|
|2023-05-03|575929| 681217|    fo|  hit_into_play|        R|    R|       R|      STL|      LAA|     2023|     0|    0|     0|           0|     6|          Bot|       104.9|           50|           2| 718320|        4|        3|
|2023-05-03|571448| 660271|    so|swinging_strike|        R|    R|       R|      STL|      LAA|     2023|     0|    0|669357|           2|     5|          Bot|        null|           44|           6| 718320|        4|        3|
|2023-05-03|669357| 660271|     s|  hit_into_play|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           2|     5|          Bot|       101.4|           43|           4| 718320|        4|        3|
|2023-05-03|502671| 660271|    so|       foul_tip|        R|    R|       R|      STL|      LAA|     2023|     0|    0|     0|           1|     5|          Bot|        null|           42|           6| 718320|        4|        3|
|2023-05-03|663457| 660271|    so|swinging_strike|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           0|     5|          Bot|        null|           41|           4| 718320|        4|        3|
|2023-05-03|669242| 660271|    fo|  hit_into_play|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           2|     4|          Bot|        74.4|           36|           3| 718320|        4|        3|
|2023-05-03|680977| 660271|    so|swinging_strike|        R|    L|       R|      STL|      LAA|     2023|     0|    0|     0|           1|     4|          Bot|        null|           35|           3| 718320|        4|        3|
+----------+------+-------+------+---------------+---------+-----+--------+---------+---------+---------+------+-----+------+------------+------+-------------+------------+-------------+------------+-------+---------+---------+
only showing top 20 rows

In [13]:
dict(R=1, L=0)

{'R': 1, 'L': 0}

In [16]:
pd.DataFrame({"mean": 1, "median": 0}, index=[3])

   mean  median
3     1       0

In [51]:
from pyspark.sql.types import StructType,StructField,IntegerType,Row,FloatType, StringType
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import pandas_udf, PandasUDFType
import pandas as pd
import numpy as np

df = spark.createDataFrame([("Bob", 4, 10), ("Jessica", 3, 15), ("Allen", 10, 20), ("Jessica", 5, 20), ("Allen", 1, 6)], ["Name", "Number1", "Number2"])

schema = StructType([
    StructField("Name", StringType(), False), 
    StructField("mean", FloatType(), False),
    StructField("median", FloatType(), False)])


def example(df: pd.DataFrame) -> pd.DataFrame:
    print(df)
    mean = np.mean(df["Number1"])
    median = np.median(df["Number2"])
    return pd.DataFrame({"Name": df["Name"][0], "mean": mean, "median": median}, index=[df["Name"][0]])


# schema = StructType([
#     StructField("out1", IntegerType(), False),
#     StructField("out2", IntegerType(), False)])

# example_udf = udf(example, schema)
                         
newDF = df.groupby(col("Name")).apply(pandas_udf(example, schema, PandasUDFType.GROUPED_MAP))
newDF.show()

#newDF = df.withColumn("Output", example_udf(df["Number"]))
#newDF = newDF.select("Name", "Number", "Output.*")

#newDF.show(truncate=False)

+-------+----+------+
|   Name|mean|median|
+-------+----+------+
|  Allen| 5.5|  13.0|
|    Bob| 4.0|  10.0|
|Jessica| 4.0|  17.5|
+-------+----+------+

    Name  Number1  Number2
0  Allen       10       20
1  Allen        1        6
  Name  Number1  Number2
0  Bob        4       10
      Name  Number1  Number2
0  Jessica        3       15
1  Jessica        5       20

In [55]:
new_df = newDF.toPandas()
new_df.set_index("Name", drop=True, inplace=True)
new_df

    Name  Number1  Number2
0  Allen       10       20
1  Allen        1        6
  Name  Number1  Number2
0  Bob        4       10
      Name  Number1  Number2
0  Jessica        3       15
1  Jessica        5       20

         mean  median
Name
Allen     5.5    13.0
Bob       4.0    10.0
Jessica   4.0    17.5

In [27]:
import pyspark.sql.functions as F
from pyspark import keyword_only
from pyspark.ml import Transformer

class MeanNormalizerTransformer(Transformer):

    @keyword_only
    def __init__(self, column_name=None, mean=None):
        super().__init__()
        self.setParams(**self._input_kwargs)
        print(self._column_name)
        print(self._mean)
        
    @keyword_only
    def setParams(self, **kwargs):
        """Set parameters as required by the SparkML standards"""
        return self._set(**self._input_kwargs)

    def _transform(self, ddf):
        self._logger.info("Normalizing values by the mean")
        ddf = ddf.withColumn(self._column_name, F.col(self._column_name) / self._mean)
        return ddf

In [29]:
MeanNormalizerTransformer(column_name="hi", mean="what")

AttributeError: 'MeanNormalizerTransformer' object has no attribute 'column_name'

In [39]:
stat_ma_mapping = {
    'pPA': [3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0], 
    'RpPA': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 
    'batter': '408234', 
}
pd.DataFrame.from_dict({'408234':stat_ma_mapping}, orient='index')

,pPA,RpPA,batter
408234,"[3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",408234

In [45]:
from datetime import datetime

pd.Timestamp(datetime(2023,10,5))

Timestamp('2023-10-05 00:00:00')

In [49]:
ex_df = pd.DataFrame({"player": ["allen", "bob"], "score": [10, 90]})
ex_df.loc[ex_df["player"] == "allen", "score"].values[0]

10